<section id="about" class="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Me</h2>
        <hr class="small">
        <img src="img/art/bg.jpg" class="aboutpic">
        <p class="lead">
          Sarit is a Los Angeles-based art student studying Studio Art at Pomona College in Claremont, California.
          She has been drawing and painting for over 15 years.
          Currently, Sarit works as a gallery and installation assistant at the Pomona College Studio Art Department and as an assistant to Painting Instructor, Sandeep Mukherjee.
          She has extensive experience working with illustration, painting, sculpture, mixed media, graphic design, and she is proficient in Adobe Photoshop, Illustrator and In Design.
          <br>
          <br>
          Sarit hopes to combine her illustration and painting skills with graphic design to create unique and personal works, different than merely computer-based generations.
          <br>
          <br>
          Sarit also uses advanced baking and studio art skills to create unique, delicious, and custom desserts for family, friends, events, and clients.
          She has experience working in accomplished bakeries and hopes to attend pastry school to advance her skills.
        </p>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
